@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: slategray;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.navbar-dark .navbar-brand {
  font-family: "Georgia", cursive !important;
  color: lightgray;
  font-weight: 900;
  font-size: 2em;
}
